{% extends "layout.html" %}
{% block script %}
<script>
    var Form  = {
        ChkFrm:function(e)
        {

        },
    };

    $(function() {
       $("#sForm").on("submit", Form.ChkFrm);
    });
</script>
{% endblock %}
{% block body%}
    <div>
        <table class="table">
            <thead>
                <th>일련번호</th>
                <th>년도</th>
                <th>월</th>
                <th>금액</th>
                <th>입급자</th>
                <th>등록일</th>
            </thead>
            <tbody>
            {% for item in result %}
            <tr>
                <td>{{item.seq}}</td>
                <td>{{item.year}}</td>
                <td>{{item.month}}</td>
                <td>{{item.amount|number_format}}</td>
                <td>{{item.user_id}}</td>
                <td>{{item.reg_date}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/>
        <div class="text-center">
            <ul class="pagination">
                <li><<</li>
                <li>1</li>
                <li>2</li>
                <li>>></li>
            </ul>

        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
