{% extends "layout.html" %}
{% block html %} ng-app="deposit"{% endblock %}
{% block body %} ng-controller="depositCtrl"{% endblock %}
{% block script %}
<script>
    var Form  = {
        ChkFrm:function(e)
        {

        },
    };

    $(function() {
       $("#sForm").on("submit", Form.ChkFrm);
    });

    var depositApp = angular.module("deposit",[]);
    depositApp.controller("depositCtrl", function($scope, $http) {
        $http.get("/api/deposit/list").then(function(response) {
            $scope.depositList = response.data;
        });
    });
</script>
{% endblock %}
{% block contents%}
    <div>
        <table class="table">
            <thead>
                <th>일련번호</th>
                <th>년도</th>
                <th>월</th>
                <th>금액</th>
                <th>입급자</th>
                <th>등록일</th>
            </thead>
            <tbody>
            <tr ng-repeat="depositItem in depositList.result">
                <td>{{depositItem.seq|angular}}</td>
                <td>{{depositItem.year|angular}}</td>
                <td>{{depositItem.month|angular}}</td>
                <td>{{depositItem.amount|angular}}</td>
                <td>{{depositItem.user_id|angular}}</td>
                <td>{{depositItem.reg_date|angular}}</td>
            </tr>
            <!--{% if result is not none: %}
                {% for item in result %}
            <tr>
                <td>{{item.seq}}</td>
                <td>{{item.year}}</td>
                <td>{{item.month}}</td>
                <td>{{item.amount|number_format}}</td>
                <td>{{item.user_id}}</td>
                <td>{{item.reg_date}}</td>
            </tr>
            {% endfor %}
            {% endif %}-->
            </tbody>
        </table>
        <br/>
        <div class="text-center">
            <ul class="pagination">
                <li><<</li>
                <li>1</li>
                <li>2</li>
                <li>>></li>
            </ul>

        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
